.generate  {
	width: 25%;
	margin-left: auto;
	margin-right: auto;
	font-size: x-large;
	position: center;
		}	

#container, #container2 {
	margin-top: 10vh;
	display: flex;
	align-items: center;
	justify-content: center;;
}

#bouton_lancer {
	
	
}



select{
  border:none;
  padding: 10px 20px;
  border-radius:5px;
}

select:focus{
  outline:none;
}


/* ================================== */

